*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image : linear-gradient(120deg,#ffb703,#fb8500);
    color: aliceblue;
    font-family: 'Poppins',sans-serif;
    min-height:100vh ;
}
header{
    font-size: 1rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}